<!-- head -->

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>

    <!-- import css -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>

<!-- import js -->
<div th:fragment="js">
    <link rel="stylesheet" href="/webjars/bootstrap/js/bootstrap.bundle.js">
</div>